/**コンテンツ**/
div#content{
    margin: 40px 0 0 20px;
}

/**サイドメニュー**/
div#sidenav{
    height: 100vh;
}

div#sidenav-maintitle{
    margin: 40px 0 20px 0;
}

/*ボタン*/
/*ボタンの大きさ*/
.common-button{
    margin: 20px;
}

#common-button{
    text-align: center;
}